@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100vh;
    background-image: url(https://i.ibb.co/YtW61Dn/Screenshot-2023-01-18-194446.png);
    background-size: cover;
}
nav{

    width: 100%;
    height: 0px;
   background-color: transparent;
   -webkit-animation: nav 1s ease-in-out infinite alternate;
    -moz-animation: nav 1s ease-in-out infinite alternate;
    animation: nav 1s ease-in-out infinite alternate;
}
@-webkit-keyframes nav{
    from {
        text-shadow: 0 0 10px #580c11, 0 0 20px #720d13, 0 0 30px #b52f50, 0 0 40px #1b406a, 0 0 50px #35d5f7, 0 0 60px #8ffcff, 0 0 70px #e60073;
      }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #6260c0, 0 0 50px #934eb3, 0 0 60px #a949cf, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  body{
    overflow-x: hidden; 
   background-color: rgb(12 10 10);
   content: "\2764";
    animation: transitionIn 4s;   
}
ul li {
   list-style: none;
    display: inline-block;
    line-height: 100px; 
}
.contact {
   position:relative; 
   left: 1200px; 
   color: red;
}
.Home {
   position:relative; 
   left: 100px;

}
.About {
   position:relative; 
   left: 200px;

}
.Work {
   position:relative; 
   left: 300px;

}
.Goals {
   position:relative; 
   left: 400px;
}
ul li a {
   text-decoration: none;
   font-size: 28px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #7ef3ff;
}

.contact1 {
    position:relative; 
    left: 100px;
    top: 130px;
    color: white;
   font-size: 50px;
       -webkit-animation: h1 2s ease-in-out infinite alternate;
    -moz-animation: h1 2s ease-in-out infinite alternate;
    animation: h1 2s ease-in-out infinite alternate;
}
.contact3{
    color: white;
    position:relative; 
    left: 100px;
    top: 130px;
   font-size: 23px;
       -webkit-animation: h1 2s ease-in-out infinite alternate;
    -moz-animation: h1 2s ease-in-out infinite alternate;
    animation: h1 2s ease-in-out infinite alternate;
}
@-webkit-keyframes h1{
    from {
          text-shadow: 0 0 5px #10647a, 0 0 10px #fff, 0 0 15px #0a6d9d, 0 0 20px #031625, 0 0 25px #06436a, 0 0 30px #053f6b, 0 0 35px #202124;
        }
      to {
        text-shadow: 0 0 10px #ffffff, 0 0 15px #d8535d, 0 0 20px #c7272c, 0 0 25px #610c11, 0 0 30px #90121b, 0 0 35px #cb212c, 0 0 40px #f8334a;
   }
    }
.gmail {
    color:orange;
    text-decoration: none;
}
.form {
    width: 500px;
    padding: 6px;
     position:relative; 
    left: 100px;
    top: 160px;
}

input, textarea {
    width:100%;
    padding: 6px;
    outline: none;
    border: 5px inset rgb(7 173 165);
    margin: 6px 0px;
}

#btn {
    width: 150px;
    padding: 6px;
    cursor: pointer;
     border: 5px inset rgb(7 173 165);
}

.thanks{
    color:rgb(7, 140, 173);
    position:relative; 
    left: 0px;
    top: 280px;
}
@media screen and (max-width: 800px) {
    .contact {
        position: absolute; 
         left: 1350px; 
        top: 0px;
     }
    ul li a {
        font-size: 24px;
    }
     
     .container{
         position: absolute;
         left: 0;
         top: 0;
         width:100%;
         height: 100vh;
         animation: animate 40s ease-in-out infinite;
         background-size: cover;
     }
    }